@import "tailwindcss";

* {
  font-family: 'Prompt', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea, select {
  font-family: 'Prompt', sans-serif !important;
}

h1, h2, h3, .font-black, .font-bold {
  font-family: 'Mitr', sans-serif !important;
  font-weight: 500 !important; 
  letter-spacing: 0.015em !important; 
  line-height: 1.4 !important;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 600 !important;
  letter-spacing: -0.01em !important;
}